h3 {
	text-align: center;
}

header {
	background: #000;
	color: #fff;
	height: 50px;
}
nav {
	display: inline-block;
	text-align: right;
}
nav a {
	display: block;
	padding: 2.5px;
	margin: 0 5px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	line-height: 2em;
}

.container {

}
.container-left, .container-right {
	display: inline-block;
	width: 50%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

.about-container,
.skills-container,
.project-container,
.contact-container {
	min-height: 400px;
}

.about-container {

}
.skills-container {
	text-align: center;
}
.skills-container ul {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	list-style-type: none;
}
.project-container {

}
.project-thumbnail {

}
.project-title {

}
.project-description {

}

